{{page-title 'Repositories'}}

<Repositories::Filter @repositories={{@model}} as |repositories|>
  {{#each repositories as |repo|}}
    <Repositories::Show @repository={{repo}} />
  {{else}}
    <h5>Not Results Found</h5>
  {{/each}}
</Repositories::Filter>

{{outlet}}
