{{page-title 'Repositories'}}

<div class='split-screen'>
  <div class='split-screen__half'>
    <Repositories::Filter @repositories={{@model}} as |repositories|>
      {{#each repositories as |repo|}}
        <Repositories::Show @repository={{repo}} />
      {{else}}
        <h3>No Results Found</h3>
      {{/each}}
    </Repositories::Filter>
  </div>

  <div class='split-screen__half'>
    {{outlet}}
  </div>
</div>
