<div class='repository__show' data-test-repository-repo>
  <p class='repository__label'>Name: {{@repository.name}}</p>
  <p class='repository__label'>Language:
    {{@repository.language}}</p>
  <p class='repository__label'>Private?:
    {{@repository.private}}</p>

  <LinkTo
    @route='organizations.repositories.branches'
    @model={{@repository.name}}
    class='repository__button'
  >
    Show Branches
  </LinkTo>

  <a
    href={{@repository.html_url}}
    class='repository__github-link'
    target='_blank'
    rel='noopener noreferrer'
  >
    See On GitHub
  </a>
</div>
