<div class='repository__show' data-test-repository-repo>
  <div class='repository__container'>
    <p class='repository__label' data-test-repository-name>Name:
      {{@repository.name}}
    </p>
    <p>Stars: {{@repository.stargazers_count}}</p>
  </div>
  <p class='repository__label' data-test-repository-language>Language:
    {{@repository.language}}</p>
  <p class='repository__label' data-test-repository-private>Private?:
    {{@repository.private}}</p>

  <LinkTo
    @route='organizations.repositories.branches'
    @model={{@repository.name}}
    class='repository__button'
    data-test-repository-branches-link
  >
    Show Branches
  </LinkTo>

  <a
    href={{@repository.html_url}}
    class='repository__github-link'
    target='_blank'
    rel='noopener noreferrer'
    data-test-repository-github-link
  >
    See On GitHub
  </a>
</div>
